<!DOCTYPE html>

<html>
    <head>
        <title>my title</title>
<style>
      html, body {
        height: 100%;
        margin: 0;
        padding: 0;
      }
      #map {
        height: 50%;
	width: 50%;
      }
</style>

<script>
function initMap() {
  var map = new google.maps.Map(document.getElementById('map'), {
    zoom: 25,
    center: {lat: 42 , lng: -72 }
  });
</script>
    </head>
    <body>
	testing ...
	<div id="map"></div>
    <script async defer
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDyYTFXJ-rwCyWZZM-aVXWEftkklz090GE&signed_in=true&callback=initMap"></script>
    </body>
</html>
